@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    /* ## Colors */
    /* ### Primary */
    --cor01: #8bacda;
    --cor02: #00fff7;

    /* ### Neutral */
    --cor03: #0d192b;
    --cor04: #14253d;
    --cor05: #2f415b;
    --white: #ffffff;

    /* ## Typography */
    /* ### Font */
    --font01: "Outfit", sans-serif;;

    /* Weights: 300, 400, 600 */
}

body {
    position: relative;
    height: 96vh;

    background-color: var(--cor03);
    font-family: var(--font01);
}

main {
    position: absolute;
    left: 50%;
    top: 50%;

    background-color: var(--cor04);
    width: 275px;
    padding: 25px;
    border-radius: 15px;

    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    height: 275px;
    width: 275px;
    border-radius: 7px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #00fff781;
    border-radius: 7px;
}

.container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    position: absolute;
    top: 50%;
    left: 50%;

    color: white;
    text-align: center;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

h1 {
    font-size: 18px;
    font-weight: 600;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--cor02);
}

p {
    color: var(--cor01);
    font-size: 16px;
    font-weight: 300;
}

strong {
    color: var(--cor02);
    font-weight: 400;
}

strong::before {
    content: url(../images/icon-ethereum.svg);
    vertical-align: middle;
    padding-right: 5px;
}

p.timeleft {
    display: inline-block;
    padding-left: 85px;
}

p.timeleft::before {
    content: url(../images/icon-clock.svg);
    vertical-align: middle;
    padding-right: 5px;
}

hr {
    height: 1px;
    border-width: 0;
    color: var(--cor05);
    background-color: var(--cor05);
    margin: 0px;
    margin-bottom: 20px;
}

img.author {
    display: inline;
    height: 30px;
    width: 30px;
    
    border: 1px solid var(--white);
    border-radius: 50%;

    vertical-align: middle;
}

p.author {
    display: inline;
    font-size: 14px;
    padding-left: 10px;
}